/* Estilos de la portada del juego */
body, html {
  background-color: #f8f5e7;
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Arial', sans-serif;
  
}

.portada {
  display: flex;
  align-items: center;
  justify-content: space-between; /* mantiene imagen a la derecha y texto separado */
  height: 100vh;
  padding: 40px 80px; /* más espacio en los lados */
  box-sizing: border-box;
}

.texto {
  flex: 1;
  padding: 20px;
  margin-left: 120px; /* mueve todo el bloque hacia la derecha */
  max-width: 500px;   /* evita que el texto se estire demasiado */
}

h1 {
  font-size: 4em;
  line-height: 0.9em;
  color: #000;
  margin: 0;
}

.gris {
  color: #888;
  font-weight: normal;
}

.subtitulo {
  font-size: 1.8em;
  color: #aaa;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* Línea decorativa */
.linea {
  width: 160px;
  height: 4px;
  border: none;
  background-color: #ff9900;
  margin-left: 0;
  margin-top: 10px;
  margin-bottom: 40px;
}

.btn-principal {
  background-color: #ff9900;
  border: none;
  color: white;
  padding: 15px 40px;
  font-size: 1.3em;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s;
}

.btn-principal:hover {
  background-color: #e88d00;
}

.imagen {
  flex: 2;
  display: flex;
  justify-content: center;
}

.imagen img {
  width: 70%;          
  height: auto;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}